.wp-block-cosmic-pricing-table {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {

			.wp-block-cosmic-pricing-column {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}

	.wp-block-cosmic-pricing-column {
		margin: 10px;
		text-align: center;

		img {
			margin-bottom: 20px;
		}

		h4 {
			color: #222;
			font-size: 22px;
			font-size: bold;
			margin: 0;
		}

		p {
			color: #565656;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 5px;
			margin-top: 5px;
		}
	}
}
